.m1 {
    margin: 1em 1em 1em 1em;
}

.fluid-self {
    width: 100%;
}

.my-box {
    width: 480px;
}

textarea, input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
